<div class="top_header">
    <span class="text-center">FREE SHIPPING FOR ALL ORDERS OVER $ 10 AND JUST A REMINDER, ALL OUR DELIVERIES ARECARBON
        NATURALAL</span>
</div>
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<div class="top_header2">
    <nav id="navbar_top" class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarScroll" style="width: 33.33%;">
                <ul class="navbar-nav my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 400px;">
                    <li class="nav-item me-4">
                        <a {% if request.path=='/' %} class="nav-link active" {% else %} class="nav-link" {% endif %}
                            aria-current="page" href="/">HOME</a>
                    </li>
                    <li class="nav-item me-4">
                        <a {% if request.path=='/productlist' %} class="nav-link active" {% else %} class="nav-link" {%
                            endif %} aria-current="page" href="/productlist">SHOP</a>
                    </li>
                    <li class="nav-item me-4">
                        <a {% if request.path=='/about' %} class="nav-link active" {% else %} class="nav-link" {% endif
                            %} aria-current="page" href="/about">ABOUT</a>
                    </li>
                    <li class="nav-item me-4">
                        <a {% if request.path=='/waterless' %} class="nav-link active" {% else %} class="nav-link" {%
                            endif %} aria-current="page" href="/waterless">WATERLESS</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item me-4">
                        <a {% if request.path=='/orders' %} class="nav-link active" {% else %} class="nav-link" {% endif
                            %} aria-current="page" href="/orders">ORDERS</a>
                    </li>
                    {% endif %}
                    <li class="nav-item me-4">
                        <a {% if request.path=='/offers' %} class="nav-link active" {% else %} class="nav-link" {% endif
                            %} aria-current="page" href="/offers">OFFERS</a>
                    </li>
                </ul>

            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/" style="display: flex; justify-content: center;width: 33.33%;">
                <img src="/static/images/logo__1_.png" alt="" width="100">
            </a>
            <div style="display: flex; justify-content: flex-end;width: 33.33%;">
                <button class="btn btn-outline-primary me-2 me-md-4" type="submit"><i class="fas fa-search"
                        onclick="toggleSearchbar()"></i></button>
                {% if request.user.is_authenticated %}
                <button id="cart-button" class="cart-bag btn btn-outline-primary me-2 me-md-4"
                    data-totalitems="{{cart|length}}" data-bs-toggle="modal" data-bs-target="#cartModal"
                    type="submit"><i class="fas fa-shopping-bag"></i></button>
                <a href="/logout">
                    <button class="btn btn-outline-primary me-2 me-md-4"><i class="fas fa-sign-out"></i></button>
                </a>
                {% else %}
                <button class="btn btn-outline-primary me-md-4" data-bs-toggle="modal" data-bs-target="#loginModal"
                    type="submit"><i class="fas fa-user"></i></button>
                {% endif %}
            </div>
        </div>
    </nav>
    <style>
        #signup-response {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-top: 20px;

            animation: signup-response 0.5s 1;
            -webkit-animation: signup-response 0.5s 1;
            animation-fill-mode: forwards;

            animation-delay: 2s;
            -webkit-animation-delay: 1s;
            /* Safari and Chrome */
            -webkit-animation-fill-mode: forwards;

        }

        @keyframes signup-response {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
            }
        }

        @-webkit-keyframes signup-response {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
            }
        }


        .cart-bag:before {
            content: attr(data-totalitems);
            font-size: 12px;
            font-weight: 600;
            position: absolute;
            top: 60%;
            background: #d12b2b;
            line-height: 24px;
            padding: 0 5px;
            height: 24px;
            min-width: 24px;
            color: white;
            text-align: center;
            border-radius: 24px;
        }


        .shake {
            animation: shakeCart .4s ease-in-out forwards;
        }

        @keyframes shakeCart {
            25% {
                transform: translateX(6px)
            }

            50% {
                transform: translateX(-4px);
            }

            75% {
                transform: translateX(2px);
            }

            100% {
                transform: translateX(0);
            }
        }
    </style>
    {% if messages %}
    {% for m in messages %}
    <div id="signup-response" class="alert alert-{{ m.tags }} m-1" style="right:-25%; width: 50%;
    text-align: center;">
        {% if m.tag=='error' %}
        <div style="width: 100%;
        text-align: center;
        border: solid 3px red;
        border-radius: 133px;
        color: red;
        background-color: antiquewhite;
        /* position: absolute;">
            {{ m }}
        </div>
        {% else %}
        <div style="width: 100%;
        text-align: center;
        border: solid 3px blue;
        border-radius: 133px;
        color: blue;
        background-color: rgb(215, 220, 250);
        /* position: absolute;">
            {{ m }}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
    <input style="display:none;" type="text" id="searchbar" value="" onchange="search(`${value}`)" />
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<script>
    function toggleSearchbar() {
        let searchbar = document.getElementById('searchbar');
        if (searchbar.style.display == "block") {
            searchbar.style = "display:none;"
        } else {
            searchbar.style = "display:block;"
        }
    }

    function search(word) {
        window.location.href = window.location.origin + `/productlist?search=${word}`
    }
</script>