<div class="modal" id="cartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog cart-dialog">
    <div class="modal-content cart-content">
      <div class="modal-header">
        <h5 class="modal-title blue" id="exampleModalLabel">CART</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 class="modal-title blue" id="exampleModalLabel">You are eligible for free shipping</h6>
        <hr>
        <div>
          <div class="card mb-3 border-light" style="max-width: 540px;">
            {% for c in cart %}
            <div class="row g-0" id="cartItem{{c.id}}">
              <div class="col-md-4">
                <img src="/{{c.image[8:]}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body cart-card-body">
                  <h6 class="card-title blue">{{c.title}}</h6>
                  <p id="totalPrice{{c.id}}" class="card-text fw-bold">${{c.totalPrice}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex btn-outline-blue rounded" style="width: 50%;">
                      <button id="decrease" type="button" class="quantity-left-minus btn btn-number" data-type="minus"
                        data-field="" onclick="cartMinus({{c.id}}, {{c.price}})">
                        <i class="fas fa-minus"></i>
                      </button>
                      <input type="text" id="number{{c.id}}" name="quantity"
                        class="form-control text-center input-number fw-bold blue" value={{c.quantity}} min="1"
                        max="100" onchange="cartInput({{c.id}}, {{c.price}})" />
                      <button id="increase" type="button" class="quantity-right-plus btn btn-number" data-type="plus"
                        data-field="" onclick="cartPlus({{c.id}}, {{c.price}})">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                    <div>
                      <a id="remove" class="blue ms-5 fw-normal" href="#" onclick="remove({{c.id}})">REMOVE</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="/checkout" class="btn btn-blue w-100">CHECK OUT</a>
      </div>
    </div>
  </div>
</div>

<script>
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
  function cartPlus(itemId, price) {
    const num = document.getElementById(`number${itemId}`)
    var value = parseInt(num.value, 10);
    value = isNaN(value) ? 0 : value;
    value < 1 ? value = 1 : '';
    value++;
    $.ajax({
      url: `/cart/${itemId}`,
      type: 'PUT',
      headers: { 'X-CSRFToken': csrftoken },
      data: `{ "quantity" : ${value} }`,
      success: function () {
        num.value = value;
        document.getElementById(`totalPrice${itemId}`).innerHTML = '$'+price*value;
      }
    })
  };


  function cartMinus(itemId, price) {
    const num = document.getElementById(`number${itemId}`)
    var value = parseInt(num.value, 10);
    value = isNaN(value) ? 0 : value;
    value < 1 ? value = 1 : '';
    value--;
    $.ajax({
      url: `/cart/${itemId}`,
      type: 'PUT',
      headers: { 'X-CSRFToken': csrftoken },
      data: `{ "quantity" : ${value} }`,
      success: function () {
        num.value = value;
        document.getElementById(`totalPrice${itemId}`).innerHTML = '$'+price*value;
        console.log(price,value,price*value);
      }
    })
  }

  function cartInput(itemId, price) {
    const num = document.getElementById(`number${itemId}`)
    var value = parseInt(num.value, 10);
    value = isNaN(value) ? 0 : value;
    value < 1 ? value = 1 : '';
    $.ajax({
      url: `/cart/${itemId}`,
      type: 'PUT',
      headers: { 'X-CSRFToken': csrftoken },
      data: `{ "quantity" : ${value} }`,
      success: function () {
        num.value = value;
        document.getElementById(`totalPrice${itemId}`).innerHTML = '$'+price*value;
      }
    })
  }

  function remove(itemId) {
    const num = document.getElementById(`cartItem${itemId}`)
    var value = parseInt(num.value, 10);
    value = isNaN(value) ? 0 : 0;
    $.ajax({
      url: `/cart/${itemId}`,
      type: 'PUT',
      headers: { 'X-CSRFToken': csrftoken },
      data: `{ "quantity": ${value} }`,
      success: function () {
        num.remove();
      }
    })
  }
</script>