<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
  {% include 'base.html' %}
  <div>
    <div id="carouselExampleCaptions" class="carousel slide carousel-dark carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators" style="bottom: -50px !important;">
        {% for b in banners%}
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{loop.index-1}}"
          class='{{"active" if loop.index==1 else ""}}' aria-current='{{"true" if loop.index==1 else "false"}}'
          aria-label='"Slide "{{loop.index}}''></button>
        {% endfor %}
      </div>
      <div class="carousel-inner">
        {% for b in banners%}
        <div class=' carousel-item {{"active" if loop.index==1 else "" }}'>
          <div class="row">
            <div class="d-flex justify-content-between align-items-center flex-wrap-reverse">
              <div class="col d-flex justify-content-center">
                <a href="{{b.url}}">
                  <img src="/{{(b.image|string)}}" class="w-100 banner_img" alt="...">
                </a>
              </div>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>
  </div>
  <div class="container-xxl mt-5">
    <div>
      <div class="d-flex justify-content-center align-items-center flex-column">
        <span class="first_heading">FEATURED COLLECTION</span>
        <h5 class="second_heading">CARIXER PRODUCTS ARE SAFE, ECOFRIENTLY AND BIODEGRADABLE</h5>
      </div>
      <div class="mt-5 d-flex justify-content-between align-items-center flex-wrap">
        {% for p in products%}
        {% if p.featured %}
        <a style="text-decoration:none; color:#000;" href="productdetail/{{p.id}}"
          class="card border-light text-center me-md-3 list_card" id={{p.id}}>
          <div class="card border-light text-center" style="max-width: 26rem;">

            <img src="/{{p.image[8:]}}" class="card-img-top img" alt="...">
            <div class="card-body ">
              <h6 class="card-title blue fw-bold">{{p.title}}</h6>
              <p class="card-text blue fw-bold">₹ {{p.price}}</p>
              <p>{% for i in range(p.rating.rate|int)%}
                <span class="fa fa-star checked"></span>
                {% endfor %}
                {% for i in range(5-p.rating.rate|int)%}
                <span class="fa fa-star"></span>
                {% endfor %}
                <span class="fw-normal">{{p.rating.count}} reviews</span>
              </p>
            </div>

          </div>
        </a>
        {% endif %}
        {% endfor %}
      </div>
      <div class="d-flex justify-content-center align-items-center mt-5">
        <a class="nav-link" aria-current="page" href="/productlist">
          <button type="button" class="btn btn-blue btn-md-lg">VIEW ALL PRODUCTS</button> </a>
      </div>
    </div>
  </div>
  <div class="bg-lightblue pt-5 pb-5 mt-5">
    <div class="container-xxl">
      <div>
        <div class="d-flex justify-content-center align-items-center flex-column">
          <span class="first_heading">BENEFITS OF CARIXER WATERLESS CARCARE SOLUTION</span>
          <h5 class="second_heading">BETTER SOLUTION</h5>
          <span class="hover_content">Wipe Your Vehicle' s Surface Without Harm</span>
        </div>
        <div class="mt-5 d-flex justify-content-between align-items-center flex-wrap">
          <img class="hover_image" src="static/images/1.png" width="100" alt="">
          <img class="hover_image" src="static/images/2.png" width="100" alt="">
          <img class="hover_image" src="static/images/3.png" width="100" alt="">
          <img class="hover_image" src="static/images/4.png" width="100" alt="">
          <img class="hover_image" src="static/images/5.png" width="100" alt="">
          <img class="hover_image" src="static/images/6.png" width="100" alt="">
          <img class="hover_image" src="static/images/7.png" width="100" alt="">
          <img class="hover_image" src="static/images/8.png" width="100" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="container-xxl mt-5">
    <div>
      <div class="d-flex justify-content-center align-items-center flex-column">
        <span class="first_heading">DISCOVER</span>
        <h5 class="second_heading">OUR PRODUCTS</h5>
      </div>
      <div class="mt-5 d-flex justify-content-center align-items-center">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            {% for p in products%}
            <div class="swiper-slide">
              <div class="card mb-3 border-light text-center" style="max-width: 800px;">
                <div class="row g-0">
                  <div class="col-md">
                    <a style="text-decoration:none; color:#000;" href="productdetail/{{p.id}}"
                      class="card border-light text-center me-md-3 list_card" id={{p.id}}>
                      <img src="/{{p.image[8:]}}" class="card-img-top img">
                      <div class="card-body">
                        <h6 class="card-title blue fw-bold">'{{p.title}}</h6>
                        <p class="card-text blue fw-bold">₹ {{p.price}}</p>
                        <p>
                          {% for i in range(p.rating.rate|int)%}
                          <span class="fa fa-star checked"></span>
                          {% endfor %}
                          {% for i in range(5-p.rating.rate|int)%}
                          <span class="fa fa-star"></span>
                          {% endfor %}
                          <span class="fw-normal"> {{p.rating.count}} reviews</span>
                        </p>
                      </div>
                    </a>

                  </div>

                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
  </div>
  {% for a in about %}
  <div class="bg-lightblue pt-5 pb-5 mt-5">
    <div class="container-xxl">
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-about">
          <div class="row">
            <div class="d-flex justify-content-between align-items-center flex-wrap">
              <div class="col d-flex justify-content-center">
                <img class="image_aa" src="static/images/mask_group_1.png" alt="...">
              </div>
              <div class="col p-3 " style="font-size: 1.2rem">
                <h5 class="mb-4 blue fw-bold">ABOUT</h5>
                <div class="mb-2">{{a.about}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-vision">
          <div class="row">
            <div class="d-flex justify-content-between align-items-center flex-wrap">
              <div class="col d-flex justify-content-center">
                <img class="image_aa" src="static/images/mask_group_1.png" alt="...">
              </div>
              <div class="col p-3 " style="font-size: 1.2rem">
                <h5 class="mb-4 blue fw-bold">VISION</h5>
                <div class="mb-2">{{a.vision}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <ul class="nav nav-pills mt-5" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active " id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-about"
              type="button" role="tab" aria-controls="pills-home" aria-selected="true">ABOUT</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-vision"
              type="button" role="tab" aria-controls="pills-profile" aria-selected="false">VISION</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="bg-newsletter pt-5 pb-5">
    <div class="container-xxl mt-5 mb-5">
      <div>
        <div class="d-flex justify-content-center align-items-center flex-column">
          <span class="first_heading">KEEP UPDATED</span>
          <h5 class="second_heading">NEWSLETTER</h5>
          <div class="mb-3 mt-3"><span style="font-size: 20px;">Enter your email to stay in the loop on new collections,
              pop-up shows and more</span></div>
          <form class="d-flex w-md-50 mt-3">
            <input class="form-control me-2 w-100 border-blue" type="search" placeholder="Enter your Email ID"
              aria-label="Search">
            <button class="btn btn-blue" type="submit">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div style="background-color: #0B3E64;">
    <div class="container-xxl text-white" style="padding-top: 100px; padding-bottom: 100px;">
      <div class="row">
        <div class="col-md-4 mb-4">
          <h6>CARIXER WATERLESS CAR CARE SOLUTION</h6>
          <div><span>Copyright &#169; Carixer</span></div>
          <div class="mt-2"><span>&#169; 2021. All right reserved.</span></div>
          <div class="mt-2"><span>0422-765432</span></div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col mb-4">
              <a href="about" style="text-decoration: none;
              color: white;">
                <h6>ABOUT</h6>
              </a>
              <div class="mb-2"><a href="orders" style="text-decoration: none;
                color: white;"><span>SHIPPING & RETURNS</span></a></div>
              <div class="mb-2"><span>BLOG</span></div>
              <div><span>CONTACT US</span></div>
            </div>
            <div class="col mb-4">
              <h6>POLICIES</h6>
              <div class="mb-2"><span>PRIVACY POLICY</span></div>
              <div><span>TERMS & CONDITIONS</span></div>
            </div>
            <div class="col mb-4">
              <h6>HEY</h6>
              <div><span>Enter your email to stay in the loop on new collections, pop-up shows and more.t</span></div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">&copy; 2022 - Copyright Carixer. All rights reserved.</div>
        <div class="col">
          <div class="row">
            <div class="col">Terms & Conditions</div>
            <div class="col">Policy</div>
            <div class="col">Privacy</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- User Login / Signup -->
  {% include 'userAuth.html' %}
  <!-- User Login / Signup -->

  <!-- Cart Template -->
  {% if request.user.is_authenticated %}
  {% include 'cart.html' %}
  {% endif %}
  <!-- Cart Template -->

  <!-- wishlist Template -->
  {% if request.user.is_authenticated %}
  {% include 'wishlist.html' %}
  {% endif %}
  <!-- wishlist Template -->


  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Initialize Swiper -->
  <script>

    document.addEventListener("DOMContentLoaded", function () {
      window.addEventListener('scroll', function () {
        if (window.scrollY > 50) {
          document.getElementById('navbar_top').classList.add('fixed-top');
          document.getElementById('navbar_top').style.backgroundColor = '#fff';

          // add padding top to show content behind navbar
          navbar_height = document.querySelector('.navbar').offsetHeight;
          document.body.style.paddingTop = navbar_height + 'px';
        } else {
          document.getElementById('navbar_top').classList.remove('fixed-top');
          document.getElementById('navbar_top').style.backgroundColor = 'transparent';
          // remove padding top from body
          document.body.style.paddingTop = '0';
        }
      });
    });
  </script>

  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 1,
      spaceBetween: 30,
      freeMode: true,
      loop: true,
      loopFillGroupWithBlank: true,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>

</body>

</html>